<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Foods</title>
</head>

<body class="grad70">
  <main class="container-flex-column vh100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2">
          <p class="back inline-block margin-right">
            <a href="../views/principal.html">
            </a>
          </p>
        </div>
        <div class="col-xs-12">
          <!-- Título Principal -->
          <h1 class="principaltitle text-center">CaxaFood</h1>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h1 id="title-restaurant"></h1>
            <p class="style-subtitle">Platos</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="container-plates">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/foods.js"></script>
</body>

</html>